h1{
 text-align: center;
 color: black;
 background-color: gray;
 margin: 0%;
 padding: 0%;
}
p{
text-align: center;
color: black;
background-color: grey;
margin: 0%;
padding: 0%;
}
body{
margin: 0%;
padding: 0%;
}